@{
    ViewData["Title"] = "Políticas De Privacidade";
}
<h1>@ViewData["Title"]</h1>

<p>Site de interesse educacional e recreativo não lucrativo, logo e layout baseados em propriedades pertencentes a Netflix</p>
